<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>テキスト比較ツール</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <h1>テキスト比較ツール</h1>
    <div class="text-container">
        <textarea id="textA" placeholder="Text A"></textarea>
        <textarea id="textB" placeholder="Text B"></textarea>
    </div>
    <button onclick="compareTexts()">比較する</button>
    <div id="result" class="result-box" placeholder="result"></div>
    <script src="script.js"></script>
    