<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>テキスト比較ツール</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>テキスト比較ツール</h1>

    <div class="text-container">
        <textarea id="textA" placeholder="reading text"></textarea>
        <textarea id="textB" placeholder="correct answer"></textarea>
    </div>

    <button onclick="compareTexts()">比較する</button>

    <!-- 表示するマッチ数 -->
<div id="matchSummary" style="margin: 10px; font-size: 18px; color: #cc3366;"></div>

<!-- 結果表示 -->
<div class="result-box">
    <table>
        <thead>
            <tr>
                <th>読取</th>
                <th>正解</th>
            </tr>
        </thead>
        <tbody id="resultBody">
        </tbody>
    </table>
</div>

    <script src="script.js"></script>
</body>

</html>
